<header class="main-header">
  <!-- Logo -->
  <a class="logo" href="#">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Esprit</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Esprit</b>ECM</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->


    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu" href="/home">
          <a class="" data-toggle="" href="/home">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">home</span>
            </h5></a>

        </li>

        <li  *ngIf="roles =='ROLE_USER' " class="dropdown messages-menu" href="/profile" >
          <a class="" data-toggle="" href="/profile">
            <i class="fa fa-envelope-o"></i>
           <h5> <span class="label ">Ajouter Entreprise</span>
           </h5></a>

        </li>
        <li class="dropdown messages-menu" href="/data" *ngIf="roles =='ROLE_ADMIN' ">
          <a class="" data-toggle="" href="/data">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">Offre admin</span>
            </h5></a>

        </li>
        <li class="dropdown messages-menu" href="/offrefournisseur" *ngIf="roles =='ROLE_MODERATOR' ">
          <a class="" data-toggle="" href="/offrefournisseur">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">Offre fournisseur </span>
            </h5></a>

        </li>
        <li class="dropdown messages-menu" href="/entrepriseuser" *ngIf="roles =='ROLE_MODERATOR' ">
          <a class="" data-toggle="" href="/entrepriseuser">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">votre entreprise </span>
            </h5></a>

        </li>
        <li class="dropdown messages-menu" href="/listusers" *ngIf="roles =='ROLE_ADMIN' ">
          <a class="" data-toggle="" href="/listusers">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">confirmer admin </span>
            </h5></a>

        </li>
        <li class="dropdown messages-menu" href="/listallusers" *ngIf="roles =='ROLE_ADMIN' ">
          <a class="" data-toggle="" href="/listallusers">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">utilisateur </span>
            </h5></a>

        </li>

        <li class="dropdown messages-menu" href="/charts">
          <a class="" data-toggle="" href="/charts">
            <i class="fa fa-envelope-o"></i>
            <h5> <span class="label ">dashbord </span>
            </h5></a>

        </li>
        <!-- Notifications: style can be found in dropdown.less -->

        <!-- Tasks: style can be found in dropdown.less -->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg">
            <span class="hidden-xs">{{username}}</span>
          </a>



          <ul class="dropdown-menu" *ngIf="isLoggedIn">
            <!-- User image -->
            <li class="user-header">
              <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg">

              <p>
                {{ username }}
                <small>{{ roles }}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href class="nav-link" (click)="logout()">followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="/entrepriseuser">entreprise</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="#">Profile</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-default btn-flat" (click)="logout()">Sign out</a>
              </div>
            </li>
          </ul>

        </li>

        <!-- Control Sidebar Toggle Button -->

      </ul>
    </div>

  </nav>
</header>

