
<section class="multi_step_form">
  <form *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && nextStep(activedStep)"
        #f="ngForm"
        id="msform"
        novalidate>

    <h2>ajouter votre entreprise</h2>
    <mat-horizontal-stepper>

      <mat-step >
        <ng-template matStepLabel> first step</ng-template>
        <formly-form>

          <br>
          <br>        <br>        <br>        <br>        <br>
          <label class="control-label"> inserrer votre logo</label>
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
          </div>

          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
          <br>
          <br>        <br>        <br>
          <label>Choisissez une categorie</label>
          <select  [(ngModel)]="categorie" name="categorie" (change)="selected()">
            <option *ngFor="let food of equipes" [value]="food.value"  >
              {{food.viewValue}}
            </option>
          </select>
        </formly-form>

        <br><br>
        <div>
          <button *ngIf="activedStep !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(activedStep)">Back</button>
          <button  matStepperNext class="next action-button" type="button"  (click)="nextStep(activedStep)">Next</button>
        </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>second step</ng-template>
        <formly-form>
          <div class="widget">
            <div class="form-group">

              <label for="username" class="control-label"> Name</label>

              <input id="username" class="form-control"
                     required
                     minlength="3"
                     maxlength="20"
                     #name_entreprise="ngModel" type="text" name="name_entreprise" ngModel [(ngModel)]="name">
            </div>
            <div class="alert-danger" *ngIf="f.submitted && name_entreprise.invalid">
              <div *ngIf="name_entreprise.errors.required">name_entreprise is required</div>
              <div *ngIf="name_entreprise.errors.minlength">
                name_entreprise must be at least 3 characters
              </div>
              <div *ngIf="name_entreprise.errors.maxlength">
                name_entreprise must be at most 20 characters
              </div>
            </div>

            <br>
            <div class="form-group">
              <label for="descriptions" > Description</label>
              <textarea id="descriptions"   #descriptions="ngModel" required
                        minlength="3"
                        maxlength="2000" class="form-control" type="text" name="description" ngModel [(ngModel)]="description"></textarea>
            </div>
            <div class="alert-danger" *ngIf="f.submitted && descriptions.invalid">
              <div *ngIf="descriptions.errors.required">description is required</div>
              <div *ngIf="descriptions.errors.minlength">
                description must be at least 3 characters
              </div>
              <div *ngIf="descriptions.errors.maxlength">
                description must be at most 20 characters
              </div>
            </div>

            <form #f="ngForm"></form>


          </div><!-- Text widget end -->

        </formly-form>

        <div>
          <button *ngIf="activedStep !== 0" matStepperPrevious class="next action-button" type="button" (click)="prevStep(activedStep)">Back</button>
          <button  matStepperNext class="next action-button" type="button" type="submit" >Next</button>
        </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel > third step</ng-template>
        <formly-form>
          <label class="control-label"> inserrer votre patente</label>
          <div class="tab-pane active" id="parent">
            <div style="text-align:center" id="child-left">
              <div>
                <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                        (initError)="handleInitError($event)"></webcam>
                <br/>

                <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
                <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
              </div>
            </div>
            <h4 *ngIf="errors.length > 0">Messages:</h4>
            <ul *ngFor="let error of errors">
              <li>{{error | json}}</li>
            </ul>


            <div class="snapshot" *ngIf="webcamImage" id="child-right">
              <img [src]="webcamImage.imageAsDataUrl" width="450px" height="300px"/>
            </div>


          </div>
        </formly-form>

        <div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <button *ngIf="activedStep !== 0" matStepperPrevious class="next action-button" type="button" (click)="prevStep(activedStep)">Back</button>
          <button class="next action-button" [disabled]="!selectedFiles" (click)="upload(f.value)">Upload</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!-- Multi step form -->
  </form>
</section>




