
<!-- Style switcher start -->


<div class="body-inner">

  <!-- Header start -->

  <!--/ Header end -->

  <!-- Slider start -->
  <section id="home" class="p-0">
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      <div class="overlay"></div>
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="../../assets/images/slider/bg2.jpg" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated2">
                Need To Invent The Future!
              </h2>
              <h3 class="animated3">
                We Making Difference To Great Things Possible
              </h3>
              <p class="animated4"><a href="/register" class="slider btn btn-primary white">creer votre compte</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated4">
                How Big Can You Dream?
              </h2>
              <h3 class="animated5">
                We are here to make it happen
              </h3>
              <p class="animated6"><a href="/login" class="slider btn btn-primary white">connecter vouz</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated7">
                Your Challenge is Our Progress
              </h2>
              <h3 class="animated8">
                So, You Don't Need to Go Anywhere Today
              </h3>
              <div>
                <a class="animated4 slider btn btn-primary btn-min-block white" href="#">Get Now</a>
                <a class="animated4 slider btn btn-primary btn-min-block solid" href="#">Live Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
      </a>
      <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
      </a>
    </div>
  </section>
  <!--/ Slider end -->

  <!-- Features start -->
  <section id="feature-center" class="feature-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-tachometer"></i></span>
            <h3>Responsive Ready</h3>
            <p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua polaroid befor</p>
          </div>
        </div>
        <!--/ End first features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-android"></i></span>
            <h3>Fully Customizable</h3>
            <p>Food truck master cleanse mixtape minim Portland, cardigan stumptown chambray swag</p>
          </div>
        </div>
        <!--/ End Second features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-apple"></i></span>
            <h3>Clients Loving</h3>
            <p>Neutra Thundercats craft beer, listicle meggings bicycle rights 90's XOXO beard cardiga</p>
          </div>
        </div>
        <!--/ End Third features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-lightbulb-o"></i></span>
            <h3>Design for Startups</h3>
            <p>We design beautiful modern engaging websites that always latest responsive technologies.</p>
          </div>
        </div>
      </div>
      <!--/ 1st row end -->

      <div class="gap-40"></div>

      <div class="row">
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-file-text"></i></span>
            <h3>Details Documentation</h3>
            <p>We design beautiful modern engaging websites that always latest responsive technologies</p>
          </div>
        </div>
        <!--/ End 5th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-windows"></i></span>
            <h3>Useful Elements</h3>
            <p>Neutra Thundercats craft beer, listicle meggings bicycle rights 90's XOXO beard cardiga</p>
          </div>
        </div>
        <!--/ End 6th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-lock"></i></span>
            <h3>Secured App</h3>
            <p>Food truck master cleanse mixtape minim Portland, cardigan stumptown chambray swag</p>
          </div>
        </div>
        <!--/ End 7th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-cloud-download"></i></span>
            <h3>Free Updates</h3>
            <p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua polaroid befor</p>
          </div>
        </div>
        <!--/ End 8th features -->
      </div>
      <!--/ 2nd row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Features end -->

  <!-- Counter Strat -->
  <section class="ts_counter p-0">
    <div class="container-fluid">
      <div class="row facts-wrapper wow fadeInLeft text-center">
        <div class="facts one col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-user"></i></span>
          <div class="facts-num">
            <span class="counter">{{a}}</span>
          </div>
          <h3>entreprises</h3>
        </div>

        <div class="facts two col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-institution"></i></span>
          <div class="facts-num">
            <span class="counter">{{b}}</span>
          </div>
          <h3>offres</h3>
        </div>

        <div class="facts three col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-suitcase"></i></span>
          <div class="facts-num">
            <span class="counter">{{c}}</span>
          </div>
          <h3>propositions</h3>
        </div>

        <div class="facts four col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-trophy"></i></span>
          <div class="facts-num">
            <span class="counter">{{d}}</span>
          </div>
          <h3>offres valider</h3>
        </div>

      </div>
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Counter end -->


  <!-- About tab start -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-pentagon wow bounceIn"><i class="fa fa-meh-o"></i></span>
          <h2 class="title2">Know About Our Company
            <span class="title-desc">A Quality Experience Team with 4 years experience</span>
          </h2>
        </div>
      </div> <!-- Title row end -->
      <!-- featured tab -->
      <div class="row featured-tab">
        <div class="col-md-3 col-sm-5">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="animated fadeIn nav-link mb-1 active d-flex align-items-center" data-toggle="pill" href="#tab_1"
               role="tab" aria-selected="true">
              <i class="fa fa-info-circle mr-4 h3 mb-0"></i>
              <span class="h4 mb-0 font-weight-bold">Who Are We</span>
            </a>
            <br>
            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_2" role="tab"
               aria-selected="true">
              <i class="fa fa-briefcase mr-4 h3 mb-0"></i>
              <span class="h4 mb-0 font-weight-bold">OUR COMPANY</span>
            </a>
            <br>
            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_3" role="tab"
               aria-selected="true">
              <i class="fa fa-android mr-4 h3 mb-0"></i>
              <span class="h4 mb-0 font-weight-bold">What We Do</span>
            </a>
            <br>
            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_4" role="tab"
               aria-selected="true">
              <i class="fa fa-pagelines mr-4 h3 mb-0"></i>
              <span class="h4 mb-0 font-weight-bold">Why choose us</span>
            </a>
            <br>
            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_5" role="tab"
               aria-selected="true">
              <i class="fa fa-support mr-4 h3 mb-0"></i>
              <span class="h4 mb-0 font-weight-bold">Save time with us</span>
            </a>
            <br>
          </div>

        </div>
        <div class="col-md-9 col-sm-7">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane pl-sm-5 fade show active animated fadeInLeft" id="tab_1" role="tabpanel">
              <img class="img-fluid float-left mr-3" src="../../assets/images/tab/featured-tab1.png" alt="">
              <h3>We are awwared winning company</h3>
              <p>Over the year we have lots of experience in our field. In sit amet massa sapien. Vestibulum diam turpis,
                gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
              <ul class="check-list">
                <li><i class="fa fa-arrow-circle-right"></i> We design to keep in mind business</li>
                <li><i class="fa fa-arrow-circle-right"></i> Love design to keep in mind business</li>
                <li><i class="fa fa-arrow-circle-right"></i> Hope design to keep in mind business</li>
              </ul>
            </div>
            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_2" role="tabpanel">
              <img class="img-fluid float-right" src="../../assets/images/images/tab/featured-tab2.png" alt="">
              <h3>We are awwared winning company</h3>
              <p>Helvetica cold-pressed lomo messenger bag ugh. Vinyl jean shorts Austin pork belly PBR retro, Etsy VHS
                kitsch actually messenger bag pug. Pbrbp semiotics try-hard, Schlitz occupy dreamcatcher master cleanse
                Marfa Vice tofu. </p>
              <ul class="check-list">
                <li><i class="fa fa-check"></i> Duis autem vel eum iriure</li>
                <li><i class="fa fa-check"></i> vulputate molestie consequat</li>
                <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check"></i> Typi non habent claritatem insitam</li>
                <li><i class="fa fa-check"></i> Nam liber tempor cum soluta nobi</li>
              </ul>
            </div>
            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_3" role="tabpanel">
              <h3 class="text-center">We Build Ready made Web Applications for You</h3>
              <img class="img-fluid" src="../../assets/images/images/tab/featured-tab3.png" alt="">
            </div>
            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_4" role="tabpanel">
              <h3>We Build Ready made Web Applications for You</h3>
              <ul class="check-list">
                <li><i class="fa fa-check"></i> Duis autem vel eum iriure</li>
                <li><i class="fa fa-check"></i> vulputate molestie consequat</li>
                <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check"></i> Typi non habent claritatem insitam</li>
                <li><i class="fa fa-check"></i> Nam liber tempor cum soluta nobi</li>
                <li><i class="fa fa-check"></i> Nam liber tempor cum soluta nobi</li>
                <li><i class="fa fa-check"></i> Typi non habent claritatem insitam</li>
                <li><i class="fa fa-check"></i> vulputate molestie consequat</li>
              </ul>
            </div>
            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_5" role="tabpanel">
              <i class="fa fa-coffee float-left icon-xl"></i>
              <h3>Easy Solution on Every Project</h3>
              <p>Occupy selfies Tonx, +1 Truffaut beard organic normcore tilde flannel artisan squid cray single-origin
                coffee. Master cleanse vinyl Austin kogi, semiotics skateboard fap wayfarers health goth. Helvetica cray
                church-key hashtag Carles. Four dollar toast meggings seitan, Tonx pork belly VHS Bushwick. Chambray banh
                mi cornhole. Locavore messenger bag seitan.</p>
              <p>Helvetica cold-pressed lomo messenger bag ugh. Vinyl jean shorts Austin pork belly PBR retro, Etsy VHS
                kitsch actually messenger bag pug. semiotics try-hard, Schlitz occupy dreamcatcher master cleanse Marfa
                Vice tofu. </p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container end -->
  </section><!-- About end -->





  <!-- Parallax 2 start -->
  <section class="parallax parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Are You Ready to Buy This Template!</h2>
          <h3>Just Click Button and Use Your Own</h3>
          <p>
            <a href="#" class="btn btn-primary white">Purchase Now</a>
            <a href="#" class="btn btn-primary solid">Get In Touch</a>
          </p>
        </div>
      </div>
    </div><!-- Container end -->
  </section><!-- Parallax 2 end -->




  <!--/ Team end -->





  <!--/ Map end here -->


</div><!-- Body inner end -->
