
<!-- Style switcher start -->


<div class="body-inner">

  <!-- Header start -->

  <!--/ Header end -->

  <!-- Slider start -->
  <section id="home" class="p-0">
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      <div class="overlay"></div>
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="../../assets/images/slider/bg2.jpg" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated2">
               vous voulez etre l'un de nos fournisseurs
              </h2>
              <h3 class="animated3">
                bienvenu dans notre platform
              </h3>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated4">
                Voulez-vous gagner des marchés?
              </h2>
              <h3 class="animated5">
                Nous sommes là pour y arriver
              </h3>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated7">
                VOTRE DÉFI EST NOTRE PROGRÈS
              </h2>
              <h3 class="animated8">
                Donc, vous n'avez pas besoin d'aller n'importe où aujourd'hui
              </h3>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
      </a>
      <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
      </a>
    </div>
  </section>
  <!--/ Slider end -->

  <!-- Features start -->
  <section id="feature-center" class="feature-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-tachometer"></i></span>
          <h3>préparation  rapide  des dossiers</h3>
          </div>
        </div>


        <!--/ End Third features -->


      <!--/ 1st row end -->


        <!--/ End 5th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-windows"></i></span>
            <h3>négociation flexible</h3>
          </div>
        </div>
        <!--/ End 6th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-lock"></i></span>
            <h3>données sécurisé</h3>
          </div>
        </div>
        <!--/ End 7th features -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
          <div class="feature-center-content text-center">
            <span class="feature-center-icon"><i class="fa fa-cloud-download"></i></span>
            <h3>application a jour </h3>
          </div>
        </div>
        <!--/ End 8th features -->
      </div>
      <!--/ 2nd row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Features end -->

  <!-- Counter Strat -->
  <section class="ts_counter p-0">
    <div class="container-fluid">
      <div class="row facts-wrapper wow fadeInLeft text-center">
        <div class="facts one col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-user">{{a}}</i></span>
          <div class="facts-num">
          </div>
          <h3>entreprises</h3>
        </div>

        <div class="facts two col-md-3 col-sm-6">
          <span class="facts-icon"><i class=" fa fa-institution">{{b}}</i></span>
          <div class="facts-num">
          </div>
          <h3>offres</h3>
        </div>

        <div class="facts three col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-suitcase">{{c}}</i></span>
          <div class="facts-num">
          </div>
          <h3>propositions</h3>
        </div>

        <div class="facts four col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa fa-trophy">{{d}}</i></span>
          <div class="facts-num">
          </div>
          <h3>offres valider</h3>
        </div>

      </div>
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Counter end -->


  <!-- About tab start -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-pentagon wow bounceIn"><i class="fa fa-meh-o"></i></span>
          <h2 class="title2">CONNAÎTRE NOTRE ENTREPRISE
          <br>
            <br>
          </h2>
          <br>
        </div>
      </div> <!-- Title row end -->
      <!-- featured tab -->
      <div class="row featured-tab">
        <div class="col-md-3 col-sm-5">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="animated fadeIn nav-link mb-1 active d-flex align-items-center" data-toggle="pill" href="#tab_1"
               role="tab" aria-selected="true">
              <i class=""></i>
              <span class="h4 mb-0 font-weight-bold">que nous somme</span>
            </a>
            <br>
            <br>

            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_4" role="tab"
               aria-selected="true">
              <i class=""></i>
              <span class="h4">pourquoi nous choisir</span>
            </a>
            <br>
            <br>
            <a class="animated fadeIn nav-link mb-1 d-flex align-items-center" data-toggle="pill" href="#tab_5" role="tab"
               aria-selected="true">
              <i class=""></i>
              <span class="h4 mb-0 font-weight-bold">application fiable et rapide</span>
            </a>
            <br>
          </div>

        </div>
        <div class="col-md-9 col-sm-7">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane pl-sm-5 fade show active animated fadeInLeft" id="tab_1" role="tabpanel">
              <h3>l'entreprise Esprit</h3>

              <p>ESPRIT a créé, depuis janvier 2011, une filiale Esprit entreprise pour la formation des entreprises, des ingénieurs et des cadres. L’objectif est de :
                </p>
              <ul class="check-list">
                <li><i class="fa fa-check"></i> Partager un savoir-faire élevé en matière de formation TIC</li>
                <li><i class="fa fa-check"></i> Augmenter ou mettre à jour leurs compétences</li>
                <li><i class="fa fa-check"></i> Parfaire un processus de reconversion dans les TIC</li>
                <li><i class="fa fa-check"></i> budget d'achat enorme</li>
                <li><i class="fa fa-check"></i> plus que 8000 entre etudiant et employé</li>
              </ul>

            </div>


            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_4" role="tabpanel">
              <h3>INCUBATION</h3>
              <ul class="check-list">
                <li><i class="fa fa-check"></i> Mise à disposition de bureaux et de ressources</li>
                <li><i class="fa fa-check"></i> Workshops sur les différentes phases de création d’une startup</li>
                <li><i class="fa fa-check"></i> Coachs- Experts juridique, business et financier</li>
                <li><i class="fa fa-check"></i> Mentoring par des entrepreneurs,  chefs d’entreprise, experts et investisseurs</li>
                <li><i class="fa fa-check"></i> Un réseau de ressources externes et des mises en relation qualifiées via nos partenaires.</li>

              </ul>
            </div>
            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_5" role="tabpanel">
              <i class="fa fa-coffee float-left icon-xl"></i>
              <h3>preparation des dossiers fiable et rapide  </h3>
              <p> </p>
              <ul class="check-list">
                <li><i class="fa fa-check"></i> tous les flux sont numerique </li>
                <li><i class="fa fa-check"></i> un backup sur les dossiers</li>
                <li><i class="fa fa-check"></i> sécurisation des données</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container end -->
  </section><!-- About end -->





</div><!-- Body inner end -->
