

#parent{
  padding: 0 auto;
  width: 500px;
}
#child-left{
  float: left;
  width: 100px;
}
#child-right{
  float: right;
  width: 350px;
}
::ng-deep .mat-step-header:nth-of-type(1) .mat-step-icon {
  background-color: var(--my-var1);
}

::ng-deep .mat-step-header:nth-of-type(2) .mat-step-icon {
  background-color: var(--my-var2);
}

::ng-deep .mat-step-header:nth-of-type(3) .mat-step-icon {
  background-color: var(--my-var3);
}
.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}

:host ::ng-deep .ui-button {
  margin: .5em .5em .5em 0;
  width: 140px;
}
@media screen and (max-width: 40em) {
  :host ::ng-deep .ui-dialog {
    width: 75vw !important;
  }
}
